<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="./assets/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="main-header">
    	<div class="main-header-top">
    		<div class="container">
    			<div class="main-header-top-info">
    				<div class="main-header-top-info-value">Email: <a href="">info@personamini.ru</a></div>
    				<div class="main-header-top-info-value">Тел.: <a href="">8 (968) 547-73-56</a></div>
    			</div>
    			<div class="main-header-top-menu">
    				<ul>
    					<li><a href="">Оплата и доставка</a></li>
    					<li><a href="">О бренде</a></li>
    				</ul>
    			</div>
    		</div>
    	</div>
    	<div class="main-header-middle">
    		<div class="container">
    			<div class="main-header-logo"><a href=""><img src="./assets/images/logo.svg" alt=""></a></div>
    			<div class="main-header-choice-version">
    				<div class="choice-version-text">Официальный оптово-розничный сайт производителя</div>
    				<div class="choice-version-links">
    					<a class="active" href="">Розница</a>
    					<a href="">Опт</a>
    				</div>
    			</div>
    			<div class="main-header-user">
    				<div class="main-header-favorites"><a href="">Избранное</a></div>
    				<div class="main-header-cart">
    					<a href="">
    						<span>Корзина</span>
    						<span>0 руб.</span>
    				</a></div>
    				<div class="main-header-sign"><a href="">Вход/Регистрация</a></div>
    			</div>
    		</div>
    	</div>
    	<div class="main-header-bottom">
    		<div class="container">
    			<div class="main-header-menu">
    				<ul>
    					<li><a href="">Новинки</a></li>
    					<li><a href="">РАСПРОДАЖА</a></li>
    					<li><a href="">МАЛЫШАМ</a></li>
    					<li><a href="">Девочкам</a></li>
    					<li><a href="">мальчикам</a></li>
    					<li><a href="">женщинам</a></li>
    				</ul>
    			</div>
    			<div class="main-header-search">
    				<form action="">
    					<input class="search-text" type="text" placeholder="Поиск">
    					<input class="search-submit" type="submit" value="">
    				</form>
    			</div>
    		</div>
    	</div>
    </header>