{% include "partials/header.twig" %}
<main class='main-content'>
	<div class="container">
		<div class="breadcrumbs">
			<span><a class="breadcrumbs__link" href=""><span>Главная</span></a></span>
			<span class="breadcrumbs__separator"> / </span>
			<span><a class="breadcrumbs__link" href=""><span>Каталог</span></a></span>
			<span class="breadcrumbs__separator"> / </span>
			<span class="breadcrumbs__current">Малышам</span>
		</div>
	</div>
	<div class="cart-page">
		<div class="container">
		<div class="all-page-title"><h1>Ваша корзина</h1></div>
		<form action="">
		<div class="cart-page-content">
			<table>
				<thead>
					<tr>
						<td>№</td>
						<td>Изображение</td>
						<td>Наименование</td>
						<td>Артикул</td>
						<td>Размер</td>
						<td>Рост</td>
						<td>Цена за 1 шт.</td>
						<td>Кол-во шт.</td>
						<td>Стоимость</td>
					</tr>
				</thead>	
				<tbody>
					{% for item in 0..2 %}
					<tr>
						<td>1</td>
						<td><img src="./assets/images/product.jpg" alt=""></td>
						<td>
							<div class="name_prod">Водолазка для мальчика (98, Меланжево-серый)</div>
							<div class="del_prod"><a href="">Удалить из корзины</a></div>
						</td>
						<td>Арт. 2908878</td>
						<td>40</td>
						<td>62</td>
						<td>483 Р.</td>
						<td>
							<div class="add-card-quantity">
								<button class="btn-quant btn-minus"><svg width="10" height="2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1h10" stroke="#000"/></svg></button>
								<input class="quantity-value" type="number" placeholder="0">
								<button class="btn-quant btn-plus"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 160 160"><path d="M70 0h20v160H70z"></path><path d="M0 70h160v20H0z"></path></svg></button>
							</div>
						</td>
						<td>483 Р.</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% for item in 0..2 %}
			<div class="cart-page-content-item">
				<div class="cart-item-header">
					<div class="cart-item-article">Арт. 2908878</div>
					<div class="del_prod"><a href=""><svg width="11" height="11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l4.5 4.5M10 10L5.5 5.5m0 0L1 10l9-9" stroke="#FB4343"/></svg></a></div>
				</div>
				<div class="cart-item-body">
					<div class="cart-item-img"><img src="./assets/images/product.jpg" alt=""></div>
					<div class="cart-item-info">
						<div class="cart-item-name">Водолазка для мальчика (98, Меланжево-серый)</div>
						<div class="cart-item-size">
							<div class="cart-item-info-name">Размер</div>
							<div class="cart-item-info-value">40</div>
						</div>
						<div class="cart-item-height">
							<div class="cart-item-info-name">Рост</div>
							<div class="cart-item-info-value">62</div>
						</div>
						<div class="cart-item-price">
							<div class="cart-item-info-name">Цена</div>
							<div class="cart-item-info-value">483 Р.</div>
						</div>
						<div class="cart-item-quant">
							<div class="cart-item-info-name">Кол-во шт.</div>
							<div class="add-card-quantity">
								<button class="btn-quant btn-minus"><svg width="10" height="2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1h10" stroke="#000"/></svg></button>
								<input class="quantity-value" type="number" placeholder="0">
								<button class="btn-quant btn-plus"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 160 160"><path d="M70 0h20v160H70z"></path><path d="M0 70h160v20H0z"></path></svg></button>
							</div>
						</div>
						<div class="cart-item-total">
							<div class="cart-item-info-name">Стоимость</div>
							<div class="cart-item-total-value">483 Р.</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="cart-page-bottom">
			<div class="promocode-column">
				<div class="promocode-text">
					<p>Сейчас Ваша скидка составляет 3%</p>
					<p>Наберите товаров еще на сумму 100 000 р. и получите скидку 8%</p>
				</div>
				<label for="">
					Промокод
					<input class="promocode_value" type="text">
				</label>
				<button class="promocode_submit">Применить</button>
			</div>
			<div class="column-total-order">
				<div class="total-order-row">
					<div class="total-order-name">Сумма заказа:</div>
					<div class="total-order-value">34 482 р.</div>
				</div>
				<div class="total-order-row">
					<div class="total-order-name">Скидка 3%:</div>
					<div class="total-order-value">2000 Р.</div>
				</div>
				<div class="total-order-row">
					<div class="total-order-name">С учётом промокода:</div>
					<div class="total-order-value">2000 Р.</div>
				</div>
				<div class="total-order-row">
					<div class="total-order-name">Итого к оплате: </div>
					<div class="total-order-value total-price">340 482 Р.</div>
				</div>
				<button class="next-step">Далее</button>
			</div>
		</div>
		</form>
	</div>
	</div>
</main>
{% include "partials/footer.twig" %}