{% include "partials/header.twig" %}
<main class='main-content' id="app">
	<div class="container">
		<div class="breadcrumbs">
			<span><a class="breadcrumbs__link" href=""><span>Главная</span></a></span>
			<span class="breadcrumbs__separator"> / </span>
			<span><a class="breadcrumbs__link" href=""><span>Каталог</span></a></span>
			<span class="breadcrumbs__separator"> / </span>
			<span class="breadcrumbs__current">Малышам</span>
		</div>
	</div>
	<div class="catalog-content">
		<div class="container">
			<div class="left-column">
				<div class="left-column-name">Категории</div>
				<div class="sidebar-menu">
					<ul>
						<li class="menu-item menu-item-has-children menu_has_childen">
							<a href="">Распродажа</a>
							<ul class="sub-menu">
								<li class="menu-item"><a href="">Боди</a></li>
								<li class="menu-item"><a href="">Брюки, штанишки</a></li>
								<li class="menu-item"><a href="">Верхняя одежда</a></li>
								<li class="menu-item"><a href="">Джемпера</a></li>
								<li class="menu-item"><a href="">Головные уборы</a></li>
								<li class="menu-item menu-item-has-children menu_has_childen">
									<a href="">Для новорожденных</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="">Верхняя одежда</a></li>
										<li class="menu-item"><a href="">Джемпера</a></li>
										<li class="menu-item"><a href="">Головные уборы</a></li>
										<li class="menu-item"><a href="">Для новорожденных</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="menu-item menu-item-has-children menu_has_childen">
							<a href="">Малышам</a>
							<ul class="sub-menu">
								<li class="menu-item"><a href="">Боди</a></li>
								<li class="menu-item"><a href="">Брюки, штанишки</a></li>
								<li class="menu-item"><a href="">Верхняя одежда</a></li>
								<li class="menu-item"><a href="">Джемпера</a></li>
								<li class="menu-item"><a href="">Головные уборы</a></li>
								<li class="menu-item menu-item-has-children menu_has_childen">
									<a href="">Для новорожденных</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="">Верхняя одежда</a></li>
										<li class="menu-item"><a href="">Джемпера</a></li>
										<li class="menu-item"><a href="">Головные уборы</a></li>
										<li class="menu-item"><a href="">Для новорожденных</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="menu-item menu-item-has-children menu_has_childen">
							<a href="">Девочкам</a>
							<ul class="sub-menu">
								<li class="menu-item"><a href="">Боди</a></li>
								<li class="menu-item"><a href="">Брюки, штанишки</a></li>
								<li class="menu-item"><a href="">Верхняя одежда</a></li>
								<li class="menu-item"><a href="">Джемпера</a></li>
								<li class="menu-item"><a href="">Головные уборы</a></li>
								<li class="menu-item menu-item-has-children menu_has_childen">
									<a href="">Для новорожденных</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="">Верхняя одежда</a></li>
										<li class="menu-item"><a href="">Джемпера</a></li>
										<li class="menu-item"><a href="">Головные уборы</a></li>
										<li class="menu-item"><a href="">Для новорожденных</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="menu-item menu-item-has-children menu_has_childen">
							<a href="">Мальчикам</a>
							<ul class="sub-menu">
								<li class="menu-item"><a href="">Боди</a></li>
								<li class="menu-item"><a href="">Брюки, штанишки</a></li>
								<li class="menu-item"><a href="">Верхняя одежда</a></li>
								<li class="menu-item"><a href="">Джемпера</a></li>
								<li class="menu-item"><a href="">Головные уборы</a></li>
								<li class="menu-item menu-item-has-children menu_has_childen">
									<a href="">Для новорожденных</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="">Верхняя одежда</a></li>
										<li class="menu-item"><a href="">Джемпера</a></li>
										<li class="menu-item"><a href="">Головные уборы</a></li>
										<li class="menu-item"><a href="">Для новорожденных</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="menu-item menu-item-has-children menu_has_childen">
							<a href="">Женщинам</a>
							<ul class="sub-menu">
								<li class="menu-item"><a href="">Боди</a></li>
								<li class="menu-item"><a href="">Брюки, штанишки</a></li>
								<li class="menu-item"><a href="">Верхняя одежда</a></li>
								<li class="menu-item"><a href="">Джемпера</a></li>
								<li class="menu-item"><a href="">Головные уборы</a></li>
								<li class="menu-item menu-item-has-children menu_has_childen">
									<a href="">Для новорожденных</a>
									<ul class="sub-menu">
										<li class="menu-item"><a href="">Верхняя одежда</a></li>
										<li class="menu-item"><a href="">Джемпера</a></li>
										<li class="menu-item"><a href="">Головные уборы</a></li>
										<li class="menu-item"><a href="">Для новорожденных</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>	
				</div>
			</div>
			<div class="center-column">
				<div class="all-page-title">
					<h1>Малышам</h1>
					<span class="products-count">793 товар</span>
				</div>
				<div class="catalog-sort">
					<form action="">
						<select name="" id="">
							<option value="">По цене</option>
							<option value="">По цене</option>
							<option value="">По цене</option>
						</select>
						<select name="" id="">
							<option value="">Размер</option>
							<option value="">Размер</option>
							<option value="">Размер</option>
						</select>
						<select name="" id="">
							<option value="">Пол</option>
							<option value="">Пол</option>
							<option value="">Пол</option>
						</select>
					</form>
				</div>
				<div class="catalog-inner">
					{% for item in 0..11 %}
						<div class="products-item">
							<div class="new-hit">
								<div class="new-tag">New</div>
								<div class="sale-tag">Sale</div>
							</div>
							<div class="products-item-img">
								<a href="">
									<img src="./assets/images/product.jpg" alt="">
									<div class="products-item-button">Быстрый заказ</div>
								</a>
							</div>
							<div class="products-item-name"><a href=""><h4>Арт. 1098 ФТВ Комбинезон с капюшоном  для мальчика Wild Bear</h4></a></div>
							<div class="products-item-price">400 р.</div>
							<div class="products-item-sizes">
								<div class="size-item">36/57</div>
								<div class="size-item disabled">36/57</div>
								<div class="size-item">36/57</div>
								<div class="size-item disabled">36/57</div>
								<div class="size-item">36/57</div>
							</div>
							<div class="products-item-link"><a href="">Подробнее</a></div>
						</div>
						{% endfor %}
				</div>
			</div>

		</div>	
	</div>
	<div class="catalog-text">
			<div class="container">
				<p>Компания Персона Мини с 1999 года производит и продаёт оптом детскую трикотажную одежду. Благодаря накопленному опыту мы выпускаем изделия не уступающие по качеству и дизайну лучшим европейским образцам. Собственное производство позволяет нам устанавливать конкурентоспособные цены и даёт возможность быстрого обновления модельного ряда. Достоинства нашей одежды оценили покупатели более 20 регионов России, а также в Беларуси и Казахстане.дизайну лучшим европейским образцам. Собственное производство позволяет нам устанавливать конкурентоспособные цены и даёт возможность быстрого обновления модельного ряда. Достоинства нашей одежды оценили покупатели более 20 регионов России, а также в Беларуси и Казахстане.</p>
			</div>
		</div>
</main>
{% include "partials/footer.twig" %}