{% include "partials/header.twig" %}
<main class='main-content'>
	<div class="container">
		<div class="breadcrumbs">
			<span><a class="breadcrumbs__link" href=""><span>Главная</span></a></span>
			<span class="breadcrumbs__separator"> / </span>
			<span><a class="breadcrumbs__link" href=""><span>Каталог</span></a></span>
			<span class="breadcrumbs__separator"> / </span>
			<span class="breadcrumbs__current">Малышам</span>
		</div>
	<div class="delivery_page-content">
		<div class="delivery_page-text">
			<h2>Оплата</h2>
			<p>В нашем интернет-магазине вы можете легко оплатить заказ, выбрав любой из вариантов оплаты:</p>
			<h3>1. Онлайн-оплата банковской картой</h3>
			<p>Для удобной оплаты банковской картой Visa, Mastercard или МИР используется система электронных платежей PayMaster. После подтверждения заказа менеджер вышлет вам ссылку на страницу безопасного платежа.</p>
			<h3>2. Оплата по счету</h3>
			<p>Для осуществления платежа банковским переводом менеджер вышлет вам на электронную почту счет, который можно оплатить в любом удобном банке. Данный способ оплаты доступен как для юридических, так и для физических лиц.</p>
			<h2>Доставка</h2>
			<p>Мы осуществляем быструю доставку до квартиры от 1 дня по Москве, Московской области и всей России. При заказе ковров в регионы мы обеспечиваем доставку груза транспортными компаниями. Подробные условия всегда можно уточнить у наших менеджеров по телефону: 8 968 547-73-56</p>
		</div>
		<div class="ec-delivery"></div>
		<script id="dcsbl" src="https://dostavka.sbl.su/api/delivery.js?comp=0&startCt=Орехово-Зуево&startCntr=RU&btn=no&dopLathing=1&dopInsure=1&innerDeliv=1&autoEnd=1"></script>
		</div>
	</div>
</main>
{% include "partials/footer.twig" %}