{% include "partials/header.twig" %}
<main class='main-content'>
	<div class="main-banners">
		<div class="main-slick">
			<div class="main-slick-content">
				<img src="./assets/images/slide.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="main-page-products">
		<div class="container">
			<div class="main-page-title">Новинки</div>
			<div class="products-slick">
				{% for item in 0..6 %}
					<div class="products-slick-content">
						<div class="products-item">
							<div class="new-hit">
								<div class="new-tag">New</div>
								<div class="sale-tag">Sale</div>
							</div>
							<div class="products-item-img">
								<a class="js_alModal" data-modal="js_modal-1" href="">
									<img src="./assets/images/product.jpg" alt="">
									<div class="products-item-button">Быстрый заказ</div>
								</a>
							</div>
							<div class="products-item-name"><a href=""><h4>Арт. 1098 ФТВ Комбинезон с капюшоном  для мальчика Wild Bear</h4></a></div>
							<div class="products-item-price">400 р.</div>
							<div class="products-item-sizes">
								<div class="size-item">36/57</div>
								<div class="size-item disabled">36/57</div>
								<div class="size-item">36/57</div>
								<div class="size-item disabled">36/57</div>
								<div class="size-item">36/57</div>
							</div>
							<div class="products-item-link"><a href="">Подробнее</a></div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="main-page-products">
		<div class="container">
			<div class="main-page-title">Хиты продаж</div>
			<div class="products-slick">
					{% for item in 0..6 %}
				<div class="products-slick-content">
						<div class="products-item">
							<div class="new-hit">
								<div class="new-tag">New</div>
								<div class="sale-tag">Sale</div>
							</div>
							<div class="products-item-img">
								<a class="js_alModal" data-modal="js_modal-1" href="">
									<img src="./assets/images/product.jpg" alt="">
									<div class="products-item-button">Быстрый заказ</div>
								</a>
							</div>
							<div class="products-item-name"><a href=""><h4>Арт. 1098 ФТВ Комбинезон с капюшоном  для мальчика Wild Bear</h4></a></div>
							<div class="products-item-price">400 р.</div>
							<div class="products-item-sizes">
								<div class="size-item">36/57</div>
								<div class="size-item disabled">36/57</div>
								<div class="size-item">36/57</div>
								<div class="size-item disabled">36/57</div>
								<div class="size-item">36/57</div>
							</div>
							<div class="products-item-link"><a href="">Подробнее</a></div>
						</div>
				</div>
					{% endfor %}
			</div>
		</div>
	</div>
	<div class="main-page-products">
		<div class="container">
			<div class="main-page-title">Распродажа</div>
			<div class="products-slick">
					{% for item in 0..6 %}
				<div class="products-slick-content">
						<div class="products-item sale">
							<div class="new-hit">
								<div class="new-tag">New</div>
								<div class="sale-tag">Sale</div>
							</div>
							<div class="products-item-img">
								<a class="js_alModal" data-modal="js_modal-1" href="">
									<img src="./assets/images/product.jpg" alt="">
									<div class="products-item-button">Быстрый заказ</div>
								</a>
							</div>
							<div class="products-item-name"><a href=""><h4>Арт. 1098 ФТВ Комбинезон с капюшоном  для мальчика Wild Bear</h4></a></div>
							<div class="products-item-old-price">400 р.</div>
							<div class="products-item-price">400 р.</div>
							<div class="products-item-sizes">
								<div class="size-item">36/57</div>
								<div class="size-item disabled">36/57</div>
								<div class="size-item">36/57</div>
								<div class="size-item disabled">36/57</div>
								<div class="size-item">36/57</div>
							</div>
							<div class="products-item-link"><a href="">Подробнее</a></div>
						</div>
				</div>
					{% endfor %}
			</div>
		</div>
	</div>
	<div class="about-company">
		<div class="container">
			<div class="main-page-title">О компании</div>
			<div class="about-company-text">Компания Персона Мини с 1999 года производит и продаёт оптом детскую трикотажную одежду. Благодаря накопленному опыту мы выпускаем изделия не уступающие по качеству и дизайну лучшим европейским образцам. Собственное производство позволяет нам устанавливать конкурентоспособные цены и даёт возможность быстрого обновления модельного ряда. Достоинства нашей одежды оценили покупатели более 20 регионов России, а также в Беларуси и Казахстане.</div>
			<div class="about-company-inner">
				<div class="about-company-left">
					<div class="about-company-triggers-name">Преимущества одежды марки Persona Mini</div>
					<div class="about-company-triggers">
						<div class="about-company-trigger">
							<div class="about-company-triggers-img"><img src="./assets/images/about-1.svg" alt=""></div>
							<div class="about-company-trigger-name">Сшита из экологичных материалов</div>
						</div>
						<div class="about-company-trigger">
							<div class="about-company-triggers-img"><img src="./assets/images/about-2.svg" alt=""></div>
							<div class="about-company-trigger-name">Соответствует указанным размерам</div>
						</div>
						<div class="about-company-trigger">
							<div class="about-company-triggers-img"><img src="./assets/images/about-3.svg" alt=""></div>
							<div class="about-company-trigger-name">Полностью сертифицирована</div>
						</div>
						<div class="about-company-trigger">
							<div class="about-company-triggers-img"><img src="./assets/images/about-4.svg" alt=""></div>
							<div class="about-company-trigger-name">Авторский дизайн</div>
						</div>
						<div class="about-company-trigger">
							<div class="about-company-triggers-img"><img src="./assets/images/about-5.svg" alt=""></div>
							<div class="about-company-trigger-name">Не линяет и не деформируется</div>
						</div>
					</div>
				</div>
				<div class="about-company-right">
					<div class="about-company-video"><iframe width="560" height="315" src="https://www.youtube.com/embed/p6iRnfDchs4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
				</div>
			</div>
		</div>
	</div>
</main>
{% include "partials/footer.twig" %}