{% include "partials/header.twig" %}
<main class='main-content'>
	<div class="container">
	<div class="registration-form-content">
		<div class="registration-form-content-title"><h1>Регистрация</h1></div>
	
		<form action="">
			<input type="text" placeholder="Фамилия*">
			<input type="text" placeholder="Имя*">
			<input type="text" placeholder="Отчество">
			<input type="text" placeholder="Город*">
			<input type="text" placeholder="Организация*">
			<input type="text" placeholder="ОРГН*">
			<input type="text" placeholder="Контактный телефон*">
			<input type="text" placeholder="E-mail*">
			<input type="text" placeholder="Пароль*">
			<input type="text" placeholder="Подтверждение пароля*">
			<button>Зарегистрироваться</button>
			<div class="under-form-text">Нажимая кнопку «Регистрация», я подтверждаю свою дееспособность, согласие на получение информации о статусе заказов и согласие на <a href="">обработку персональных данных.</a></div>
		</form>
	</div>
	</div>
</main>
{% include "partials/footer.twig" %}