{% include "partials/header.twig" %}
<main class='main-content' id="app">
	<div class="container">
		<div class="breadcrumbs">
			<span><a class="breadcrumbs__link" href=""><span>Главная</span></a></span>
			<span class="breadcrumbs__separator"> / </span>
			<span><a class="breadcrumbs__link" href=""><span>Каталог</span></a></span>
			<span class="breadcrumbs__separator"> / </span>
			<span class="breadcrumbs__current">Малышам</span>
		</div>
	</div>
	<div class="product-page-content">
		<div class="container">
			<div class="product-page-slider">
				<div class="gallery-slick-for">
					<div class="gallery-slick-for-content">
						<img src="./assets/images/product-slide.jpg" alt="">
					</div>
					<div class="gallery-slick-for-content">
						<img src="./assets/images/product-slide.jpg" alt="">
					</div>
					<div class="gallery-slick-for-content">
						<img src="./assets/images/product-slide.jpg" alt="">
					</div>
				</div>
				<div class="gallery-slick-nav">
					<div class="gallery-slick-nav-content">
						<img src="./assets/images/product-slide.jpg" alt="">
					</div>
					<div class="gallery-slick-nav-content">
						<img src="./assets/images/product-slide.jpg" alt="">
					</div>
					<div class="gallery-slick-nav-content">
						<img src="./assets/images/product-slide.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% include "partials/footer.twig" %}